langchain
langchain-core
langchain-community
langchain-text-splitters
langchainhub
langchain-groq
langchain_openai
langchain_nomic
langgraph

fastembed
sentence-transformers
faiss-cpu
chromadb
gpt4all
tiktoken

pypdf
pymupdf
beautifulsoup4
lxml
tavily-python
typesense
python-dotenv

fastapi
uvicorn
pydantic
unicorn>=2.1.4
